@import url("https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");
@import "tailwindcss";

@theme {
  --default-font-family: "Plus Jakarta Sans", sans-serif;
  --font-h: "Playwrite GB S", cursive;

  /* Violet theme color */
  --color-theme-v-50: #f1eff6;
  --color-theme-v-100: #d8d2e5;
  --color-theme-v-200: #c0b5d4;
  --color-theme-v-300: #a797c3;
  --color-theme-v-400: #8e7ab3;
  --color-theme-v-500: #755da2;
  --color-theme-v-600: #604c85;
  --color-theme-v-700: #4b3c68;
  --color-theme-v-800: #3b2f52;
  --color-theme-v-900: #211a2d;
  --color-theme-v-950: #0c0910;

  /* Green/Yellow theme color */
  --color-theme-gy-50: #f8ffe6;
  --color-theme-gy-100: #ebffb8;
  --color-theme-gy-200: #e2ff96;
  --color-theme-gy-300: #d1ff5c;
  --color-theme-gy-400: #c4ff2e;
  --color-theme-gy-500: #b7ff00;
  --color-theme-gy-600: #96d100;
  --color-theme-gy-700: #75a300;
  --color-theme-gy-800: #547500;
  --color-theme-gy-900: #334700;
  --color-theme-gy-950: #121a00;

  /*  */
}

body {
  height: 100vh;
  @apply text-theme-gy-300 bg-gradient-to-br from-theme-v-700 via-theme-v-900 to-theme-v-800;
}

h1,
h2,
h3,
h4,
h5 {
  @apply font-h;
}

h1 {
  @apply text-6xl;
}
